<div class="player-modal" id="playerModal">
    <div class="player-modal-content">
        <div class="player-modal-close">
            <i class="fas fa-times"></i>
        </div>
        <div class="player-image-container">
            <div class="player-background"></div>
            <img src="" alt="Jugadora" class="player-image" id="modalPlayerImage">
        </div>
        <div class="player-details">
            <div class="player-details-number" id="modalPlayerNumber"></div>
            <div class="player-details-name" id="modalPlayerName"></div>
            <div class="player-details-position" id="modalPlayerPosition"></div>
            <div class="player-details-info" id="modalPlayerInfo">
                <!-- Additional player info will be added here -->
            </div>
        </div>
    </div>
</div>