<div class="team-modal" id="teamModal">
    <div class="team-modal-content">
        <div class="team-modal-close">
            <i class="fas fa-times"></i>
        </div>
        <h2 class="team-modal-title" id="teamModalTitle">Nombre del Equipo</h2>
        <div class="team-actions-modal">
            <a href="#" class="team-action-btn modal-btn" id="calendarBtn" target="_blank">
                <i class="far fa-calendar-alt"></i>
                <span>Calendario</span>
            </a>
            <a href="#" class="team-action-btn modal-btn" id="tableBtn" target="_blank">
                <i class="fas fa-table"></i>
                <span>Clasificación</span>
            </a>
        </div>
    </div>
</div>