Django==5.2.2
psycopg2-binary==2.9.10
gunicorn==21.2.0
pillow==11.2.1
whitenoise==6.6.0
django-cloudinary-storage==0.3.0
cloudinary==1.44.1
django-pwa==2.0.1
dj-database-url==2.3.0
python-decouple==3.8
sqlparse==0.5.3
requests==2.32.5
python-dotenv==1.1.1
django-cors-headers==4.7.0
