{% load static %}


<section class="shop">
    <!-- ========================================= -->
    <!-- PRODUCTOS FUTBOL EMOTION (BOTÓN EXTERNO) -->
    <!-- ========================================= -->
    
    <!-- CAMISETA ENTRENAMIENTO CANTERA SQUADRA 25 -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_adidas_cantera.png' %}" alt="Camiseta Entrenamiento Cantera Squadra 25">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_adidas_cantera.png' %}" alt="Camiseta Entrenamiento Cantera Squadra 25">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) CAMISETA ENTRENAMIENTO CANTERA SQUADRA 25</span>
            <span class="product__price">19,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/camiseta/adidas/cantera-squadra-25-mujer-cff-olympia-las-rozas-team-navy-blue-white" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- CAMISETA ENTRENAMIENTO CANTERA SQUADRA 25 (SEGUNDA) -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_adidas_entrenamiento.png' %}" alt="Camiseta Entrenamiento">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_adidas_entrenamiento.png' %}" alt="Camiseta Entrenamiento">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) CAMISETA ENTRENAMIENTO CANTERA SQUADRA 25</span>
            <span class="product__price">24,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/camiseta/adidas/tiro-24-cotton-cff-olympia-las-rozas-team-navy-blue-white" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- PANTALÓN CORTO ENTRENAMIENTO -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/pantalon_corto_entrenamiento.png' %}" alt="Pantalón Corto Entrenamiento">
            <img class="product__image--hover" src="{% static 'images/tienda/pantalon_corto_entrenamiento.png' %}" alt="Pantalón Corto Entrenamiento">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) PANTALÓN CORTO ENTRENAMIENTO</span>
            <span class="product__price">17,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/pantalon-corto/adidas/squadra-25-ii-mujer-cff-olympia-las-rozas-team-navy-blue-2-white" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- CAMISETA EQUIPACIÓN 10º ANIVERSARIO -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_equipacion_dorada_aliberico.png' %}" alt="Camiseta 10º Aniversario">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_equipacion_dorada_ruesma.png' %}" alt="Camiseta 10º Aniversario">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) CAMISETA EQUIPACIÓN 10º ANIVERSARIO</span>
            <span class="product__price">220,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/pack/futbol/jugadoras-cantera-olympia-las-rozas" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- MOCHILA ADIDAS -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/mochila_adidas_23.png' %}" alt="Mochila Adidas">
            <img class="product__image--hover" src="{% static 'images/tienda/mochila_adidas_23.png' %}" alt="Mochila Adidas">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) MOCHILA ADIDAS</span>
            <span class="product__price">32,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/mochila/adidas/tiro-23-league-26.5-l-cff-olympia-las-rozas-team-navy-blue-black-white" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- CHUBASQUERO OLYMPIA -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/chubasquero_front.png' %}" alt="Chubasquero Olympia">
            <img class="product__image--hover" src="{% static 'images/tienda/chubasquero_back.png' %}" alt="Chubasquero Olympia">
        </a>
        <div class="product__outer">
            <span class="product__name">CHUBASQUERO OLYMPIA</span>
            <span class="product__price">47,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/chubasquero/adidas/entrada-22-olympia-las-rozas-team-navy-blue" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- PACK EQUIPACIÓN PORTERA -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_portera_equipacion_aliberico.png' %}" alt="Pack Portera">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_portera_equipacion_ruesma.png' %}" alt="Pack Portera">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) PACK EQUIPACIÓN PORTERA</span>
            <span class="product__price">220,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/pack/futbol/porteras-cantera-olympia-las-rozas" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- PACK SEGUNDA EQUIPACIÓN PORTERA -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_portera__segunda_equipacion_aliberico.png' %}" alt="Pack Segunda Portera">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_portera__segunda_equipacion_ruesma.png' %}" alt="Pack Segunda Portera">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) PACK SEGUNDA EQUIPACIÓN PORTERA</span>
            <span class="product__price">220,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/pack/futbol/porteras-cantera-olympia-las-rozas" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- PACK PRIMERA EQUIPACIÓN -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_primera_equipacion_aliberico.png' %}" alt="Pack Primera">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_primera_equipacion_ruesma.png' %}" alt="Pack Primera">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) PACK PRIMERA EQUIPACIÓN</span>
            <span class="product__price">220,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/pack/futbol/jugadoras-cantera-olympia-las-rozas" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- PACK SEGUNDA EQUIPACIÓN -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_segunda_equipacion_aliberico.png' %}" alt="Pack Segunda">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_segunda_equipacion_ruesma.png' %}" alt="Pack Segunda">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) PACK SEGUNDA EQUIPACIÓN</span>
            <span class="product__price">220,00 EUR</span>
            <a href="https://www.futbolemotion.com/es/comprar/pack/futbol/jugadoras-cantera-olympia-las-rozas" target="_blank" rel="noopener noreferrer" class="btn-primary btn-external">
                Comprar en Futbol Emotion →
            </a>
        </div>
    </div>

    <!-- ========================================= -->
    <!-- PRODUCTOS PROPIOS (CON MODAL DE TALLAS)  -->
    <!-- ========================================= -->

    <!-- CAMISETA 10º ANIVERSARIO -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_aniversario_granate_front.png' %}" alt="Camiseta 10º Aniversario">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_aniversario_granate_back.png' %}" alt="Camiseta 10º Aniversario">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) CAMISETA 10º ANIVERSARIO</span>
            <span class="product__price">10,00 EUR - 21,00 EUR LAS TRES</span>
            <button class="btn-primary add-to-cart" 
                    data-id="camiseta_aniversario"
                    data-name="Camiseta 10º Aniversario"
                    data-price="10.00"
                    data-image="{% static 'images/tienda/camiseta_aniversario_granate_front.png' %}"
                    data-type="clothing"
                    data-has-sizes="true"
                    data-has-colors="true"
                    data-size-list="XS,S,M,L,XL"
                    data-color-list="Granate,Azul Oscuro,Azul celeste">
                Seleccionar talla y color
            </button>
        </div>
    </div>

    <!-- SUDADERA OLYMPIA 2 COLORES -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/hoodie_front_black.png' %}" alt="Sudadera Olympia Negro">
            <img class="product__image--hover" src="{% static 'images/tienda/hoodie_front_white.png' %}" alt="Sudadera Olympia Blanco">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) SUDADERA OLYMPIA 2 COLORES</span>
            <span class="product__price">21,50 EUR</span>
            <button class="btn-primary add-to-cart" 
                    data-id="sudadera_blanca"
                    data-name="Sudadera Olympia 2 Colores"
                    data-price="21.50"
                    data-image="{% static 'images/tienda/hoodie_front_black.png' %}"
                    data-type="clothing"
                    data-has-sizes="true"
                    data-has-colors="true"
                    data-size-list="XS,S,M,L"
                    data-color-list="Negro,Blanco">
                Seleccionar talla y color
            </button>
        </div>
    </div>

    <!-- CAMISETA COPA DE LA REINA -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_copadelareina_front.png' %}" alt="Camiseta Copa de la Reina">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_copadelareina_back.png' %}" alt="Camiseta Copa de la Reina">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) CAMISETA COPA DE LA REINA</span>
            <span class="product__price">10,00 EUR - Diseño delante y detrás</span>
            <button class="btn-primary add-to-cart" 
                    data-id="camiseta_reina"
                    data-name="Camiseta Copa de la Reina"
                    data-price="10.00"
                    data-image="{% static 'images/tienda/camiseta_copadelareina_front.png' %}"
                    data-type="clothing"
                    data-has-sizes="true"
                    data-has-colors="true"
                    data-size-list="XS,S,M,L,XL"
                    data-color-list="Lavanda,Coral claro,Beige rosado">
                Seleccionar talla y color
            </button>
        </div>
    </div>

    <!-- CAMISETA OLYMPIA 2015 -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/nueva_camiseta_2015_front.png' %}" alt="Camiseta Olympia 2015">
            <img class="product__image--hover" src="{% static 'images/tienda/nueva_camiseta_2015_front.png' %}" alt="Camiseta Olympia 2015">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) CAMISETA OLYMPIA 2015</span>
            <span class="product__price">8,00 EUR - Sólo diseño delante</span>
            <button class="btn-primary add-to-cart" 
                    data-id="camiseta_2015"
                    data-name="Camiseta Olympia 2015"
                    data-price="8.00"
                    data-image="{% static 'images/tienda/nueva_camiseta_2015_front.png' %}"
                    data-type="clothing"
                    data-has-sizes="true"
                    data-has-colors="true"
                    data-size-list="XS,S,M,L,XL"
                    data-color-list="Azul">
                Seleccionar talla y color
            </button>
        </div>
    </div>

    <!-- CAMISETA MANGA LARGA OLYMPIA 2015 -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_2015_manga_larga.png' %}" alt="Camiseta Manga Larga Olympia 2015">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_2015_manga_larga.png' %}" alt="Camiseta Manga Larga Olympia 2015">
        </a>
        <div class="product__outer">
            <span class="product__name">(NUEVO) CAMISETA MANGA LARGA OLYMPIA 2015</span>
            <span class="product__price">15,00 EUR - Sólo diseño delante</span>
            <button class="btn-primary add-to-cart" 
                    data-id="camiseta_larga_2015"
                    data-name="Camiseta Manga Larga Olympia 2015"
                    data-price="15.00"
                    data-image="{% static 'images/tienda/camiseta_2015_manga_larga.png' %}"
                    data-type="clothing"
                    data-has-sizes="true"
                    data-has-colors="true"
                    data-size-list="XS,S,M,L,XL"
                    data-color-list="Azul">
                Seleccionar talla y color
            </button>
        </div>
    </div>

    <!-- SUDADERA PASEO -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/sudadera_paseo_back.png' %}" alt="Sudadera Paseo">
            <img class="product__image--hover" src="{% static 'images/tienda/sudadera_2015_front.png' %}" alt="Sudadera Paseo">
        </a>
        <div class="product__outer">
            <span class="product__name">SUDADERA PASEO</span>
            <span class="product__price">28,00 EUR - Diseño delante y detrás</span>
            <button class="btn-primary add-to-cart" 
                    data-id="sudadera_paseo"
                    data-name="Sudadera Paseo"
                    data-price="28.00"
                    data-image="{% static 'images/tienda/sudadera_paseo_back.png' %}"
                    data-type="clothing"
                    data-has-sizes="true"
                    data-has-colors="true"
                    data-size-list="XS,S,M,L,XL"
                    data-color-list="Azul,Mint">
                Seleccionar talla y color
            </button>
        </div>
    </div>

    <!-- SUDADERA OLYMPIA 2015 -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/sudadera_2015_front.png' %}" alt="Sudadera Olympia 2015">
            <img class="product__image--hover" src="{% static 'images/tienda/sudadera_2015_front.png' %}" alt="Sudadera Olympia 2015">
        </a>
        <div class="product__outer">
            <span class="product__name">SUDADERA OLYMPIA 2015</span>
            <span class="product__price">15,00 EUR - Sólo diseño delante</span>
            <button class="btn-primary add-to-cart" 
                    data-id="sudadera_2015"
                    data-name="Sudadera Olympia 2015"
                    data-price="15.00"
                    data-image="{% static 'images/tienda/sudadera_2015_front.png' %}"
                    data-type="clothing"
                    data-has-sizes="true"
                    data-has-colors="true"
                    data-size-list="XS,S,M,L,XL"
                    data-color-list="Azul,Mint">
                Seleccionar talla y color
            </button>
        </div>
    </div>

    <!-- CHANCLAS OLYMPIA -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/chanclas.png' %}" alt="Chanclas Olympia">
            <img class="product__image--hover" src="{% static 'images/tienda/chanclas.png' %}" alt="Chanclas Olympia">
        </a>
        <div class="product__outer">
            <span class="product__name">CHANCLAS OLYMPIA</span>
            <span class="product__price">15,00 EUR</span>
            <button class="btn-primary add-to-cart" 
                    data-id="chanclas"
                    data-name="Chanclas Olympia"
                    data-price="15.00"
                    data-image="{% static 'images/tienda/chanclas.png' %}"
                    data-type="footwear"
                    data-has-sizes="true"
                    data-size-list="37,38,39,40,41,42,43">
                Seleccionar talla
            </button>
        </div>
    </div>

    <!-- ABRIGO OLYMPIA ADULTO -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/abrigo_front.png' %}" alt="Abrigo Olympia">
            <img class="product__image--hover" src="{% static 'images/tienda/abrigo_front.png' %}" alt="Abrigo Olympia">
        </a>
        <div class="product__outer">
            <span class="product__name">ABRIGO OLYMPIA ADULTO</span>
            <span class="product__price">61,00 EUR</span>
            <button class="btn-primary add-to-cart" 
                    data-id="abrigo_adulto"
                    data-name="Abrigo Olympia Adulto"
                    data-price="61.00"
                    data-image="{% static 'images/tienda/abrigo_front.png' %}"
                    data-type="clothing"
                    data-has-sizes="true"
                    data-size-list="XS,S,M,L,2XL">
                Seleccionar talla
            </button>
        </div>
    </div>

    <!-- CAMISETA BÁSICA OLYMPIA -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/camiseta_basica_front.png' %}" alt="Camiseta Básica Olympia">
            <img class="product__image--hover" src="{% static 'images/tienda/camiseta_basica_front.png' %}" alt="Camiseta Básica Olympia">
        </a>
        <div class="product__outer">
            <span class="product__name">CAMISETA BÁSICA OLYMPIA</span>
            <span class="product__price">12,00 EUR</span>
            <button class="btn-primary add-to-cart" 
                    data-id="camiseta_basica"
                    data-name="Camiseta Básica Olympia"
                    data-price="12.00"
                    data-image="{% static 'images/tienda/camiseta_basica_front.png' %}"
                    data-type="clothing"
                    data-has-sizes="true"
                    data-has-colors="true"
                    data-size-list="S,M,L"
                    data-color-list="Azul Oscuro,Blanco">
                Seleccionar talla y color
            </button>
        </div>
    </div>

    <!-- ========================================= -->
    <!-- PRODUCTOS MERCH (SIN TALLAS) -->
    <!-- ========================================= -->

    <!-- RIÑONERA OLYMPIA - CORREGIDO -->
<div class="shop__product">
    <a class="product__inner">
        <img class="product__image" src="{% static 'images/tienda/riñonera.png' %}" alt="Riñonera Olympia">
        <img class="product__image--hover" src="{% static 'images/tienda/riñonera.png' %}" alt="Riñonera Olympia">
    </a>
    <div class="product__outer">
        <span class="product__name">(NUEVO) RIÑONERA OLYMPIA</span>
        <span class="product__price">12,00 EUR</span>
        <button class="btn-primary add-to-cart" 
                data-id="rinonera"
                data-name="Riñonera Olympia"
                data-price="12.00"
                data-image="{% static 'images/tienda/riñonera.png' %}"
                data-type="merch"
                data-has-sizes="false"
                data-has-colors="false">
            Añadir al carrito
        </button>
    </div>
</div>

   <!-- BUFANDA OLYMPIA - CORREGIDO -->
<div class="shop__product">
    <a class="product__inner">
        <img class="product__image" src="{% static 'images/tienda/bufanda_front.png' %}" alt="Bufanda Olympia">
        <img class="product__image--hover" src="{% static 'images/tienda/bufanda_front.png' %}" alt="Bufanda Olympia">
    </a>
    <div class="product__outer">
        <span class="product__name">BUFANDA OLYMPIA</span>
        <span class="product__price">15,00 EUR</span>
        <button class="btn-primary add-to-cart" 
                data-id="bufanda"
                data-name="Bufanda Olympia"
                data-price="15.00"
                data-image="{% static 'images/tienda/bufanda_front.png' %}"
                data-type="merch"
                data-has-sizes="false"
                data-has-colors="false">
            Añadir al carrito
        </button>
    </div>
</div>

    <!-- LLAVERO PERSONALIZADO -->
    <div class="shop__product">
        <a class="product__inner">
            <img class="product__image" src="{% static 'images/tienda/llavero_front.png' %}" alt="Llavero Personalizado">
            <img class="product__image--hover" src="{% static 'images/tienda/llavero_back.png' %}" alt="Llavero Personalizado">
        </a>
        <div class="product__outer">
            <span class="product__name">LLAVERO PERSONALIZADO</span>
            <span class="product__price">5,00 EUR</span>
            <button class="btn-primary add-to-cart" 
                    data-id="llavero_personalizado"
                    data-name="Llavero Personalizado"
                    data-price="5.00"
                    data-image="{% static 'images/tienda/llavero_front.png' %}"
                    data-type="merch"
                    data-has-customization="true"
                    data-customization-name="Nombre en llavero"
                    data-customization-number="Dorsal en llavero">
                Personalizar y añadir
            </button>
        </div>
    </div>

</section>