<div class="copa-stats">
    <div class="copa-stat">
        <div class="copa-stat__numero">{{ stats.partidos }}</div>
        <div class="copa-stat__label">Partidos</div>
    </div>
    <div class="copa-stat">
        <div class="copa-stat__numero">{{ stats.goles_favor }}</div>
        <div class="copa-stat__label">Goles a favor</div>
    </div>
    <div class="copa-stat">
        <div class="copa-stat__numero">{{ stats.goles_contra }}</div>
        <div class="copa-stat__label">Goles contra</div>
    </div>
    <div class="copa-stat">
        <div class="copa-stat__numero">{{ stats.victorias }}</div>
        <div class="copa-stat__label">Victorias</div>
    </div>
</div>