<div class="team-header">
    <div class="team-name-display">Cantera</div>
</div>
<div class="cantera-grid">
    <div class="cantera-team" data-category="juvenil">
        <div class="cantera-team-name">Juvenil</div>
    </div>
    <div class="cantera-team" data-category="cadete">
        <div class="cantera-team-name">Cadete</div>
    </div>
    <div class="cantera-team" data-category="infantil">
        <div class="cantera-team-name">Infantil</div>
    </div>
    <div class="cantera-team" data-category="alevin">
        <div class="cantera-team-name">Alevín</div>
    </div>
    <div class="cantera-team" data-category="benjamin">
        <div class="cantera-team-name">Benjamín</div>
    </div>
    <div class="cantera-team" data-category="veteranas">
        <div class="cantera-team-name">Veteranas</div>
    </div>
</div>