<div class="team-selector">
    <button class="team-selector-btn">
        <span>Selecciona un equipo</span>
        <i class="fas fa-chevron-down"></i>
    </button>
    <div class="team-dropdown">
        <div class="team-option" data-team="senior_a">Senior A - Primer Equipo</div>
        <div class="team-option" data-team="senior_b">Senior B</div>
        <div class="team-option" data-team="senior_c">Senior C</div>
        <div class="team-option" data-team="cantera">Cantera</div>
    </div>
</div>