{% load static %}


<div class="team-header">
    <div class="team-name-display">Senior C</div>
    <div class="team-actions">
        <a href="#" class="team-action-btn calendar-btn" title="Calendario"
           data-pdf="{% static 'pdf/calendario_senior_c.pdf' %}">
            <i class="far fa-calendar-alt"></i>
        </a>
        <a href="https://www.rffm.es/competicion/clasificaciones?temporada=21&competicion=24038114&grupo=24038115&jornada=2&tipojuego=1" 
           class="team-action-btn" title="Clasificación" target="_blank">
            <i class="fas fa-table"></i>
        </a>
        <button class="team-action-btn players-btn" title="Jugadoras" id="playersButton">
            <i class="fas fa-users"></i>
        </button>
    </div>
</div>