{% load static %}

<div class="team-header">
    <div class="team-name-display">SENIOR A</div>
    <div class="team-actions">
        <a href="#" class="team-action-btn calendar-btn" title="Calendario"
           data-pdf="{% static 'pdf/calendario_senior_a.pdf' %}">
            <i class="far fa-calendar-alt"></i>
        </a>
        <a href="https://resultados.rfef.es/pnfg/NPcd/NFG_VisClasificacion?cod_primaria=1000120&codjornada=1&codcompeticion=23289351&codgrupo=23361077&codjornada=1"
           class="team-action-btn" title="Clasificación" target="_blank">
            <i class="fas fa-table"></i>
        </a>
        <button class="team-action-btn players-btn" title="Jugadoras" id="playersButton">
            <i class="fas fa-users"></i>
        </button>
    </div>
</div>