{% load static %}

<div class="subscription-images-container">
    <!-- ABONO SENIOR A -->
    <div class="subscription-image-card" 
         data-id="1"
         data-name="ABONO SENIOR A"
         data-price="50"
         data-color="#1f2531">
        <img src="{% static 'images/abono_senior_a.png' %}" alt="ABONO SENIOR A">
        <div class="subscription-overlay">
            <h3>ABONO SENIOR A</h3>
            <p>TEMP. 25/26 - 50€</p>
        </div>
    </div>

    <!-- ABONO SENIOR B -->
    <div class="subscription-image-card" 
         data-id="2"
         data-name="ABONO SENIOR B"
         data-price="50"
         data-color="#b8ac84">
        <img src="{% static 'images/abono_senior_b.png' %}" alt="ABONO SENIOR B">
        <div class="subscription-overlay">
            <h3>ABONO SENIOR B</h3>
            <p>TEMP. 25/26 - 50€</p>
        </div>
    </div>

    <!-- ABONO COMPLETO -->
    <div class="subscription-image-card" 
         data-id="3"
         data-name="ABONO COMPLETO"
         data-price="80"
         data-color="#562e39">
        <img src="{% static 'images/abono_completo.png' %}" alt="ABONO COMPLETO">
        <div class="subscription-overlay">
            <h3>ABONO COMPLETO</h3>
            <p>TEMP. 25/26 - 80€</p>
        </div>
    </div>
</div>